* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

.app {
  display: grid;
  grid-template-columns: 100%;
  font-family: 'Comfortaa', cursive;
}

.header {
  height: 150px;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 25% 15%;
  position: fixed;
  z-index: 100;
  background-color: #000;
  background-image: url('/assets/film2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  margin-left: 220px;
  color: red;
  font-size: 50px;
  font-weight: bold;
  line-height: 150px;
  text-decoration: none;
}

.welcome-message {
  width: 300px;
  position: relative;
  right: 100px;
  margin: 20px 0;
  color: #fff;
  font-size: 20px;
}

.favorites-nav-button,
.sign-in,
.sign-out {
  padding: 20px;
  background-color: red;
  border: none;
  border-radius: 50px;
  color: #000;
  cursor: pointer;
  font-family: inherit;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  line-height: 75px;
}

.favorites-nav-button {
  line-height: 200px;
}


.modal-backdrop {
  height: 800px;
  width: 100%;
  z-index: 100;
  position: fixed;
  top: 150px;
  background-color: black;
  opacity: .90;
  animation-name: fadeIn;
  animation-duration: 2.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: .9; }
}

.modal {
  height: 400px;
  width: 300px;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 100;
  border: 5px solid red;
  border-radius: 5%;
  position: fixed;
  top: 225px;
  background-color: #433B3B;
  animation-name: slideDown;
  animation-duration: 2s;

}

@keyframes slideDown2 {
  0% {
    top: 0px;
  }
  100% {
    top: 150px;
  }
}


@keyframes slideDown {
  0% {
    top: -1000px;
  }
  100% {
    top: 225px;
  }
}

.sign-in-heading {
  padding: 25px;
  font-size: 40px;
  text-align: center;
  color: white;
}

.signin-form {
  height: 250px;
  display: grid;
  grid-row-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.signin-email,
.signin-password,
.newuser-name,
.newuser-email,
.newuser-password {
  outline: none;
}

.signin-email,
.signin-password,
.newuser-name,
.newuser-email,
.newuser-password {
  width: 280px;
  height: 50px;
  margin-left: 5px;
  padding: 10px;
  border: 2px solid gray;
  font-size: 20px;
  font-family: inherit;
}

.signin-btn,
.signup-btn {
  height: 50px;
  width: 100px;
  margin-left: 5px;
  border: none;
  border-radius: 100px;
  background-color: #FF0000;
  cursor: pointer;
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
  outline: none;
}

.signin-btn:disabled,
.signup-btn:disabled {
  background-color: #fff;
}

.create-user-form {
  height: 250px;
  display: grid;
  grid-row-gap: 5px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.create-account-heading {
  padding-top: 10px;
  font-size: 30px;
  text-align: center;
  color: white;
}

.new-user,
.signup-link,
.cancel-signin,
.cancel-signup {
  margin-left: 5px;
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.new-user {
  color: white;
}

.movie-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 175px 20px 10px;
  background-color: black;
  /* background-image: url('/assets/blackWallpaper.jpg');    */
  /* background-image: url('/assets/texturedBackground.jpg');   */
  background-size: contain;
  /* background-repeat: no-repeat; */
}

.movie-poster {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  border-radius: 30px;
  cursor: pointer;
  transition: transform .5s;
  border: 2px solid #808080;
}

.movie-card {
  position: relative;
  margin: auto;
}

.button-container {
  position: absolute;
  z-index: 10;
  top: 20px;
  right: 20px;
}

.favorite-movie-btn {
  width: 40px;
  height: 40px;
  position: relative;
  background-image: url('/icons/heart.png');
  display: inline-block;
  background-size: contain;
  background-color: transparent;
  border: none;
  float: right;
  cursor: pointer;
  outline: none;
}

.favorite-movie-btn:hover {
  background-image: url('/icons/heart-red.png');
  outline: none;
}

.favorited-movie-active {
  background-image: url('/icons/heart-red.png');
  outline: none;
}

.popup-fav-addrem {
  /* background-image: url('/icons/heart.png'); */
  min-height: 200px;
  background-size: cover;
  width: 100%;
  height: 100%;
}

.popup-fav-layer {
  color: white;
  background-color: black;
  opacity: 0.8;
  font-size: 26px;
  font-weight: bold;
  font-family: 'Comfortaa';
  width: 100%;
  height: 100%;
  padding: 10px;
}

.popup-fav-sub-layer {
  display: block;
  padding-top: 20px;
}

.notification-dismiss {
  display: none;
}



/*.movie-poster:hover {
  border: 5px solid red;
  transform: scale(1.05);
}*/
