* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

.app {
  display: grid;
  grid-template-columns: 100%;
  font-family: 'Comfortaa', cursive;
}

.header {
  height: 150px;
  width: 100%;
  display: grid;
  grid-template-columns: 60% 20% 25%;
  position: fixed;
  z-index: 100;
  background-color: #000;
  background-image: url('/assets/film2.jpg');
  background-size: contain;
  background-repeat: no-repeat;
}

.title {
  height: 150px;
  margin-left: 220px;
  color: red;
  font-size: 50px;
  font-weight: bold;
  line-height: 150px;
  text-decoration: none;
}

.welcome-message {
  width: 300px;
  position: relative;
  right: 100px;
  margin: 20px 0;
  color: #fff;
  font-size: 20px;
}

.btn-container {
  height: 150px;
}

.favorites-nav-button,
.sign-in,
.sign-out {
  padding: 20px;
  background-color: red;
  border: none;
  border-radius: 50px;
  color: #000;
  cursor: pointer;
  font-family: inherit;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  line-height: 75px;
}

.favorites-nav-button {
  line-height: 200px;
}

.modal-backdrop {
  height: 800px;
  width: 100%;
  position: fixed;
  top: 150px;
  z-index: 100;
  background-color: black;
  opacity: .90;
  animation-name: fadeIn;
  animation-duration: 2.5s;
}

@keyframes fadeIn {
  from { opacity: 0; }
  to   { opacity: .9; }
}

.modal {
  height: 400px;
  width: 300px;
  margin: 0 auto;
  position: fixed;
  top: 225px;
  right: 0;
  left: 0;
  z-index: 100;
  border: 5px solid red;
  border-radius: 5%;
  background-color: #433B3B;
  animation-name: slideDown;
  animation-duration: 2s;
}

@keyframes slideDown2 {
  0% {
    top: 0px;
  }
  100% {
    top: 150px;
  }
}

@keyframes slideDown {
  0% {
    top: -1000px;
  }
  100% {
    top: 225px;
  }
}

.sign-in-heading {
  padding: 25px;
  color: white;
  font-size: 40px;
  text-align: center;
}

.signin-form {
  height: 250px;
  display: grid;
  grid-row-gap: 10px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.signin-email,
.signin-password,
.newuser-name,
.newuser-email,
.newuser-password {
  outline: none;
}

.signin-email,
.signin-password,
.newuser-name,
.newuser-email,
.newuser-password {
  height: 50px;
  width: 280px;
  margin-left: 5px;
  padding: 10px;
  border: 2px solid gray;
  font-size: 20px;
  font-family: inherit;
}

.signin-btn,
.signup-btn {
  height: 50px;
  width: 100px;
  margin-left: 5px;
  border: none;
  border-radius: 100px;
  background-color: #FF0000;
  cursor: pointer;
  font-size: 20px;
  font-family: inherit;
  font-weight: bold;
  outline: none;
}

.signin-btn:disabled,
.signup-btn:disabled {
  background-color: #fff;
}

.create-user-form {
  height: 250px;
  display: grid;
  grid-row-gap: 5px;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}

.create-account-heading {
  padding-top: 10px;
  color: white;
  font-size: 30px;
  text-align: center;
}

.new-user,
.signup-link,
.cancel-signin,
.cancel-signup {
  margin-left: 5px;
  color: red;
  font-size: 20px;
  font-weight: bold;
}

.new-user {
  color: white;
}

.movie-container {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
  padding: 175px 20px 10px;
  background-color: black;
  background-size: contain;
}

.movie-poster {
  height: 100%;
  width: 100%;
  margin-bottom: 10px;
  border: 2px solid #808080;
  border-radius: 30px;
  cursor: pointer;
  transition: transform .5s;
}

.movie-card {
  position: relative;
  margin: auto;
}

.button-container {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 10;
}

.favorite-movie-btn {
  height: 40px;
  width: 40px;
  position: relative;
  display: inline-block;
  border: none;
  background-image: url('/icons/heart.png');
  background-color: transparent;
  background-size: contain;
  cursor: pointer;
  float: right;
  outline: none;
}

.favorite-movie-btn:hover,
.favorited-movie-active {
  background-image: url('/icons/heart-red.png');
  outline: none;
}

.fullmovie-modal {
  width: 50%;
  height: 70%;
  padding: 20px;
  color: white;
  line-height: 1.5em;
  text-align: center;
}

/* .movie-detail {
  width: 500px;
} */

.movie-poster-detail {
  width: 200px;
  margin: 10px;
}

.popup-fav-addrem {
  height: 100%;
  min-height: 200px;
  width: 100%;
  background-size: cover;
}

.popup-fav-layer {
  width: 100%;
  height: 100%;
  padding: 10px;
  background-color: black;
  color: white;
  font-size: 26px;
  font-family: 'Comfortaa';
  font-weight: bold;
  opacity: 0.8;
}

.popup-fav-sub-layer {
  display: block;
  padding-top: 20px;
}

.notification-dismiss {
  display: none;
}

.movie-poster:hover {
  border: 2px solid red;
}

@media screen and (max-width: 1000px) {
  .header {
    grid-template-columns: 10fr 3fr 1fr;
  }
  .title {
    font-size: 35px;
  }
  .favorites-nav-button,
  .sign-in,
  .sign-out,
  .welcome-message {
    font-size: 16px;
  }
  .sign-in,
  .sign-out {
    line-height: 85px;
  }
  .signIn-signOut-container {
    width: 150px;
  }
  .fullmovie-modal {
    width: 85%;
  }
}

@media screen and (max-width: 800px) {
  .movie-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  }
  .header {
    grid-template-columns: 55% 25% 20%;
    background-image: none;
  }
  .title {
    margin-left: 25px;
    font-size: 40px;
  }
  .favorite-movie-btn {
    width: 25px;
    height: 25px;
  }
  .fullmovie-modal {
    width: 85%;
  }
}


@media screen and (max-width: 600px)  {
  .movie-container {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .title {
    font-size: 25px;
  }
  .header {
    grid-template-columns: 50% 30% 20%;
  }
  .favorites-nav-button,
  .sign-in,
  .sign-out,
  .welcome-message {
    font-size: 12px;
  }
  .fullmovie-modal {
    width: 90%;
  }
}
